<<<<<<< HEAD


 .All-transactions-list-container{
=======
.All-transactions-list-container{
>>>>>>> d2d481ea9888fea317d1a3a15b1035ef09364b9a
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
<<<<<<< HEAD
    margin-top: 100px;
    height: 500px;
    
}
  
  .All-transactions-list-container h1 {
    font-size: 48px;
    color: #08086C;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
  }
  
  .All-trans-list-items{
=======
    height: 500px;
    
}
.All-trans-list-items{
>>>>>>> d2d481ea9888fea317d1a3a15b1035ef09364b9a
    border: none;
    border-radius: 0.45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding:  2rem 20rem;
    background-color: #E4E5F0;
    border-radius: 0.66rem;
}

<<<<<<< HEAD
  .All-trans-list-items li{
=======

.All-trans-list-items li{
>>>>>>> d2d481ea9888fea317d1a3a15b1035ef09364b9a
    transition: background 0.3s ease;
    border:none;
    border-radius: 0.65rem;
    margin: 1rem;
    padding: 2rem;
    width: 500px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #08086C;
}
<<<<<<< HEAD

  
  .All-trans-list-items li:hover {
    background-color: #6f4ecb;
  }
  .tran-list-links{
    text-decoration: none;
    color: white;
 }
  
  /* Responsive styles for max-width 600px */
  
  @media (max-width: 600px) {
    .All-transactions-list-container {
        overflow: hidden;
        height: 100dvh;
      padding: 20px;
    }
  
    .All-transactions-list-container h1 {
      font-size: 30px;
      padding: 10px;
      text-align: center;
    }
  
    .All-trans-list-items {
      margin: 20px auto;
      gap: 15px;
    }
     .All-trans-list-items{
        background-color: white;
     }
  
    .tran-list-links {
      font-size: 16px;
      padding: 12px 20px;
      width: 90%;
      text-align: center;
    }
  }
  
=======
.All-trans-list-items li:hover{
    background:#8461D4;
}
.tran-list-links{
   text-decoration: none;
   color: white;
}



@media (max-width: 600px) {
   .All-transactions-list-container{
    display: none;
   }
  }
  
>>>>>>> d2d481ea9888fea317d1a3a15b1035ef09364b9a
