.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
    position: relative;
    width:80%;
    height: 94vh;
    margin: 0;
  }
  .carousel img {
    object-fit: cover;
    width: 100%;
    height: 620px;
    border-radius: 8px;
  }
  
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0,0,0,0.5);
    color:#fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .nav-btn.left {
    left: 10px;
  }
  
  .nav-btn.right {
    right: 10px;
  }
  
  .Hero-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    height: 80vh;
  }

  .Hero-container .hero-content{
    width: 560px;
  }
  .hero-content h1{
    font-size: 40px;
    padding-bottom: 2rem;
  }
  .Hero-explore-btn{
    margin-top: 2rem;
    padding: 0.25rem 2rem;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 500;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #8461D4;
  }
 
  @media (max-width:600px){
    .Hero-container{
      display: flex;
      flex-direction: column-reverse;
      gap: 2rem;
    }
    .hero-content h1{
      font-size: 30px;
    }
    .hero-img img{
      width: 414px;
        height: 367px;
        position: relative;
        z-index: -2;
    }
    .carousel-container{
      height: 100px;
    }
    .carousel{
      position: relative;
      top: 90vw;
    }

  } 